@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./components/hero";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    a{
        text-decoration: none;
    }
    
    ul{
        list-style: none;
    }
}
.header{
    background-color: aliceblue;
}
.nav__link:hover{
    color: #5E3BEE;
}

.dark {
    transition: 0.3s all ease-in
}
.dark .navbar{
    background-color: black !important;
    button{
        color: white;
    }
}
.light .navbar{
    background-color: #f1f1f1 !important;
}
.light .menu {
    color: black;
}

.light {
    transition: 0.3s all ease-in
}
.dark section{
    background-color: black;
    color: white;
}


.mode{
    font-size: 30px;
    width: 30px;
    height: 30px;
}